@charset "utf-8";
/* CSS Document */
/* Text box links */
.

/*Layout tables*/

body { 
margin: 0;
}

.container { 
width: 100vw;
height: 100vh;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif
display: inline-grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 50px 1fr 1fr 100px;
gap: 10 px;
padding: 10px;
box-sizing: border-box;
}
.container div {
	padding: 10px;
	border: 1px thin;
	}
.new-header {
	grid-column-start: 1;
	grid-column-end: 4;
}

/*Name Header*/
.name-header {
	margin-left: auto;
	display: block;
	color: #000000;
	font-family: Brill, "Arno Pro", Rotation, "Garamond Premr Pro", "EB Garamond 08", MaiolaPro, "Vega antikva";
	font-style: normal;
	text-align: left;
	text-indent: 30px;
}
/*Sub Headings*/
.sub-header {
	font-family:Brill, "Arno Pro", Rotation, "Garamond Premr Pro", "EB Garamond 08", MaiolaPro, "Vega antikva";
}
/*LEFT-COLUMN-BOX-MARGIN*/
.LEFT-COL-MARGIN {
	margin-left: 30px;
}
/*Main Navigation Style*/
.main-navigation {
	list-style:none;
	text-decoration:none
}
.ul-style {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	text-decoration: none;
	font-size: medium;
}
/*Main Navigation FONT STYLE*/
.nav-font {
	font-family:Brill, "Arno Pro", Rotation, "Garamond Premr Pro", "EB Garamond 08", MaiolaPro, "Vega antikva";
	text-decoration:none;
}
/* Forward */
.hvr-forward {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	color: #000000;
	text-decoration: none;
	padding:7px 8px;
	}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  text-decoration: none;
  color: #000000;
}
/*The box that contains the nav and is on the left*/
.side-box-left {
	float:left;
}
/*The box that contains the nav and is on the right*/
.side-box {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	float:right;
	width:400px;
	padding:15px 10px 15px 20px;
}
/*THE HEADER THAT SAYS ALEX ALVAREZ TAYLOR FONT */
.MAIN-HEADER {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
/*The email form at the bottom of the page */
.cta-form {
	float: right;
}
/*ABOUT TEXT BOX FONT*/
.TEXT-BOX-FONT {
	font-family:Brill, "Arno Pro", Rotation, "Garamond Premr Pro", "EB Garamond 08", MaiolaPro, "Vega antikva";
	font-size:medium;
	text-decoration: none;
	}
/*ABOUT TEXT BOX WIDTH*/
.RIGHT-BOX-WIDTH {
	width: 400px;
}
/*ABOUT TEXT BOX LINKS*/
.TEXT-LINKS {
text-decoration:none;
color: #1B2437;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { 
text-decoration: none;
color:#E15B00; 
}
a:active { text-decoration: none; }


/*The footer with social media links */
.site-footer {
	width:200px;
position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}
.COPYRIGHT {
	float: left;
	text-indent: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
}
.PICBOX {
	float:right;
	margin-right:100px;
	margin-top:50px;
TURN INTO BOOTSTRAP ELEMENT SO THAT ITS NOT VISIBLE ON MOBILE DEVICE
}