@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

/*STYLING PARAGRAPH BREAK CALLED <HR> - INVISIBLE LINE*/
/* hr {
    	background:none;
    	clear:both;
    	float:none;
    	width:100%;
    	height:1px;
    	border:none;
    	margin:-1px 0;
  CLOSE TAG FOR VALIDITY */

/* Inset, by Dan Eden */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* MOBILE PHONE VIEW GRID LAYOUT - TWO COLUMNS, FOUR ROWS */
.grid {
  display: block;
/*   gap: 5px; */
  padding: 5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 1fr 1fr 20vw;
  grid-template-areas:
    "header header"
    "nav content"
    "nav content"
    "footer footer";
}

/* GRID AREA ZONES */
.header {
  grid-area: header;
  height: 200px;  
}

.nav {
  grid-area: nav;
  padding: 10px;
}

.content {
  grid-area: content;
  padding: 1vw;
/*   padding: 5px; */
  margin-right: auto;
}
.picbox {
  grid-area: picbox;
  padding: 1vw;
  margin-right: auto;
}

.footer {
  grid-area: footer;
  padding: 5px;
  margin-left: 5px;
}
/*GRID COLOURS GUIDE FOR DESIGN*/
.grid div:nth-child(even) {
  background-color: white;
}

.grid div:nth-child(odd) {
  background-color: white;
}

/*GRID LAYOUT FOR FULLSCREEN PC*/
@media screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 50px; 
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    grid-template-areas:
      "header header header"
      "nav content  picbox"
      "nav content  picbox"
      "nav content  picbox"
      "footer footer footer ";
  }
  .toggle-button {
    display: inline;
  }
}

/*OLD - DELETE Grid tables*/

body {
  margin: 0;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  font-family: 'brillroman', Baskerville, "Palatino Linotype", Palatino,
    "Century Schoolbook L", "Times New Roman", serif;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.container div {
  padding: 10px;
  border: 1px thin;
}

/*Name Header*/ /*THE HEADER THAT SAYS ALEX ALVAREZ TAYLOR FONT */
.name-header {
  display: block;
  color: #000000;
  font-family: 'brillroman', "Arno Pro", Rotation, "Garamond Premr Pro",
    "EB Garamond 08", MaiolaPro, "Vega antikva";
  src: url(Brill%20Roman%20400.ttf);
  font-size: x-large;
  font-style: normal;
  text-align: left;
  margin-left: auto;
  padding: 20px;
}
/*Sub Headings*/
.sub-header {
  font-family: 'brillroman', "Arno Pro", Rotation, "Garamond Premr Pro",
    "EB Garamond 08", MaiolaPro, "Vega antikva";
  font-size: large;
  src: url(Brill%20Roman%20400.ttf);
}
/*Main Navigation Style*/
.main-navigation {
  list-style: none;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  text-decoration: none;
  font-size: medium;
  margin-left: 10px;
}

.toggle-button{
  position: absolute;
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 100px;
}

/*Main Navigation FONT STYLE*/
.nav-font {
  font-family: 'brillroman', "Arno Pro", Rotation, "Garamond Premr Pro",
    "EB Garamond 08", MaiolaPro, "Vega antikva";
  src: url(Brill%20Roman%20400.ttf);
  text-decoration: none;
}
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  color: #000000;
  text-decoration: none;
  padding: 7px 8px;
}
.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  text-decoration: none;
  color: #000000;
}

/*THE HEADER THAT SAYS ALEX ALVAREZ TAYLOR FONT */

/*ABOUT TEXT BOX FONT*/
.TEXT-BOX-FONT {
  font-family: 'brillroman', "Arno Pro", Rotation, "Garamond Premr Pro",
    "EB Garamond 08", MaiolaPro, "Vega antikva";
  src: url(Brill%20Roman%20400.ttf);
  font-size: medium;
  text-decoration: none;
}
/*ABOUT TEXT BOX WIDTH*/
.RIGHT-BOX-WIDTH {
  max-width: 1000px;
}
/*ABOUT TEXT BOX LINKS*/
.TEXT-LINKS {
  text-decoration: none;
  color: #1b2437;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #e15b00;
}
a:active {
  text-decoration: none;
}

/*The PICBOX on the Right */
.picbox-content {
  float: right;
  margin-top: 20px; 
/*   margin-top: 50px;  */
  box-sizing: border-box;
}
/*PICBOX BLUR FX */

/*The footer with social media links */
.site-footer {
  width: 200px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}
.COPYRIGHT {
  float: left;
  text-indent: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}
